@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  .container {
    @apply mx-auto px-4;
  }

  .gradient {
    @apply bg-gradient-to-r from-[#965de9] to-[#6358ee];
  }

  .gradient-bright {
    @apply bg-gradient-to-br from-[hsl(264,100%,60%)] to-[hsl(244,100%,60%)];
  }

  .logo {
    @apply ml-1 cursor-pointer fill-gray-300 transition-all duration-300 group-hover:ml-0 group-hover:h-8 group-hover:w-8 group-hover:animate-flip-once group-hover:fill-violet-500;
  }

  .hover-box {
    @apply invisible absolute ml-[32px] rounded-lg py-4 px-6 opacity-0 group-hover:visible group-hover:border-2 group-hover:border-violet-500 group-hover:opacity-100 group-hover:transition-all group-hover:duration-300 group-hover:ease-in;
  }
}

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }

  .animation-delay-4000 {
    animation-delay: 4s;
  }
}

.hover-box-text {
  background: linear-gradient(83.2deg, #965de9 10.8%, #6358ee 94.3%) no-repeat
    right bottom / 0 var(--bg-h);
  transition: background-size 1000ms ease-out, color 350ms;
  --bg-h: 2px;
  white-space: nowrap;
}

.logo-wrapper:hover .hover-box-text {
  background-size: 100% var(--bg-h);
  background-position-x: left;
  padding-bottom: 2px;
}

a.gradient {
  --bg-h: 100%;
}
a.underline-gradient {
  background: linear-gradient(83.2deg, #965de9 10.8%, #6358ee 94.3%) no-repeat
    right bottom / 0 var(--bg-h);
  transition: background-size 350ms, color 350ms;
}
a:where(:hover, :focus-visible).underline-gradient {
  background-size: 100% var(--bg-h);
  background-position-x: left;
}

a.underline-gradient-on-group-hover {
  background-size: 100% var(--bg-h);
  background-position-x: left;
}

.gradient-bg {
  background: linear-gradient(83.2deg, #965de9 10.8%, #6358ee 94.3%);
}

.underline-gradient-only {
  --bg-h: 2px;
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}
button.learn-more {
  width: 12rem;
  height: auto;
}
button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: linear-gradient(83.2deg, #965de9 10.8%, #6358ee 94.3%) no-repeat;
  border-radius: 1.625rem;
}
button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}
button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}
button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}
button .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}
button:hover .circle {
  width: 100%;
}
button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}
button:hover .button-text {
  color: #fff;
}
