@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  .container {
    @apply mx-auto px-4;
  }

  .gradient {
    @apply bg-gradient-to-r from-[#b92b27] to-[#1565C0];
  }
}

a {
  background: linear-gradient(
      83.2deg,
      rgba(150, 93, 233, 1) 10.8%,
      rgba(99, 88, 238, 1) 94.3%
    )
    no-repeat right bottom / 0 var(--bg-h);
  transition: background-size 350ms, color 350ms;
  --bg-h: 100%;
}
a:where(:hover, :focus-visible) {
  background-size: 100% var(--bg-h);
  background-position-x: left;
}

.underline-gradient {
  --bg-h: 2px;
}
